.travelCardContainer {
    @apply grid gap-4 grid-cols-3;
}

.travelCard {
    @apply p-2 rounded-lg opacity-100 transition-all duration-500;
    @apply hover:scale-95;
    @apply drop-shadow-lg;
    background-color: #93a661;
    h3 {
        height: 3em;
        @apply font-bold;
        text-shadow: 1px 1px rgba(0,0,111,.6);
    }
    img {
        @apply rounded;
        height: 10em;
        object-fit: cover;
        width: 100%;
    }
}

.travelCardHidden {
    @apply opacity-0 translate-x-8;
}