.semua{
    background-image: url(/src/components/assets/gunungtujuh1.jpg);
    /* color:white; */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
  }

  .container-cart{
    background: rgba(0, 0, 0, 0.3);
    width: 50%;
    /* height: 100vh; */
    /* margin: auto;
    top: 25%; */
    position: absolute;
    top: 20rem;
    padding: 20px;
    /* justify-content: center; */
    /* display: flex; */
    left: 25%;
    z-index: 100;
  }
  
  .cart_box img {
    width: 50px;
    height: 50px;
  }
  .cart_img {
    display: flex;
    width: 400px;
  }
  
  .cart_img p {
    font-weight: bold;
    margin-left: 10px;
  }
  
  .cart_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
  }
  
  .cart_box div:nth-child(2) button {
    padding: 5px 10px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  .cart_box div:nth-child(3) button {
    padding: 5px 10px;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    outline: none;
    color: white;
    background-color: skyblue;
    border-radius: 5px;
    cursor: pointer;
  }
  .cart_box div:nth-child(3) button:hover {
    background-color: darkseagreen;
  }
  .cart_box div:nth-child(3) span {
    background-color: lightgreen;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .total {
    display: flex;
    justify-content: space-between;
  }
  
  .total span:nth-child(1) {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
  }
  
  .total span:nth-child(2) {
    font-size: 2rem;
    color: green;
    font-weight: bold;
  }

  .pesan-final{
    margin-left: 40%;
    cursor: pointer;
    background-color:#DC8D3E ;
    padding: 1%;
    margin-top: 2%;
    width: 20%;
    color: white;
    font-size: 100%;
  }