.heroContainer {
    @apply bg-slate-400;
    @apply -m-4 p-8 mb-8 rounded-xl min-h-full overflow-hidden;
    @apply flex flex-col justify-center gap-4 relative;
    @apply drop-shadow-md;
}

@keyframes bigTitleAnimation {
    0% {
        @apply -translate-y-6 opacity-0
    }
    100% {
        @apply translate-x-0 opacity-100
    }
}
.bigTitle {
    animation: bigTitleAnimation .5s ease-in-out both;
    animation-fill-mode: both;
    @apply origin-left;
    @apply text-7xl tracking-tighter leading-tight;
    @apply max-w-xl;
}

.actionList {
    @apply flex gap-2 flex-wrap;
    animation: bigTitleAnimation .5s .25s ease-in-out both;
}

.backgroundsContainer {
    @apply bg-red-900 absolute left-0 top-0 w-full h-full;
}

.background {
    @apply w-full h-full bg-cover absolute left-0 top-0;
    @apply transition-opacity duration-1000;
}

.background:after {
    content: '';
    @apply block w-full h-full left-0 top-0 absolute opacity-50 bg-black;
}

.backgroundActive {
    @apply opacity-100;
}

.backgroundInactive {
    @apply opacity-0;
}

.body {
    @apply z-20 text-white text-base max-w-xl
}

.jelajahSection {
    h2 {
        @apply text-2xl mb-4;
    }

    p {
        @apply mb-4;
    }
}