.navbar {
    width: 100%;
    height: 70px;
    display: flex;
    color: #FFFFFF;
    background: linear-gradient(180deg, rgba(242, 175, 84, 0.7) 71.1%, rgba(0, 0, 0, 0) 100%);
}

.navbar-left img{
    width: 120px;
}

.navbar-left {
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

.navbar-center {
    width: 60%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-right {
    width: 20%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2vw;
}

.navbar-text {
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    color: #FFFFFF
}

.navbar-text2 {
    text-decoration: none;
    color: #FFFFFF;
}