.bg-image {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-layer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  top: 0;
  z-index: 10;
}

.content-box {
  background-color: rgba(255, 255, 255, 0.5);
  height: 88vh;
  width: 80vw;
}

.content-box-title {
  background-color: #9f9f5e;
  padding: 7px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 7px;
}

.main-content-1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 7px;
}

.main-content-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
  padding-bottom: 14px;
}

.main-content-grid-1 {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-content-grid-30 {
  width: 30%;
  display: flex;
  align-items: center;
}

.sub-content-grid-40 {
  width: 40%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub-content-grid-90 {
  width: 90%;
  display: flex;
  align-items: center;
}

.sub-content-grid-10 {
  width: 10%;
  display: flex;
  align-items: center;
}

.sub-content-grid-70 {
  width: 70%;
  display: flex;
  align-items: center;
}

.input-box {
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
}

.input-box-date {
  height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
}

input[type="file"] {
  display: none;
}

.input-box-file {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  text-align: center;
}