.header {
    @apply w-full max-h-72 relative;
    
    img {
        @apply w-full h-72 object-cover rounded-md drop-shadow-lg;
    }
    
    &:after {
        content: '';
        @apply w-full h-full block absolute top-0 left-0 bg-black;
        @apply rounded-md opacity-40;
    }

    h2 {
        @apply absolute bottom-4 left-4 z-30;
        max-width: calc(100% - 9rem);

    }
    
    button {
        @apply absolute bottom-4 right-4 z-30;
    }
}

.description {
    columns: 2;
    text-align: justify;
    hyphens: auto;
}

.status {
    @apply bg-orange-300 rounded-lg px-5 py-2 mt-4 drop-shadow-lg;
    @apply flex text-black;

    li {
        @apply flex-grow;
    }
}

.sectionHeading {
    @apply text-2xl font-bold;
}

.reviews {
    @apply pt-4;
}

.review {
    background-color: #7e8c57;
    @apply py-2 px-4 rounded-lg mb-2;
    h3 {
        @apply font-bold;
    }
}

.reviewHeader {
    background-color: #93a661;
    @apply py-2 px-4 -mb-2 rounded-lg drop-shadow-lg;
    @apply flex flex-wrap;
    > * {
        @apply flex-grow;
    }
}

.time {
    text-align: right;
}

.rating {
    text-align: center;
}

.galleryPhoto {
    @apply rounded-lg;
}